
<html>

    <head>
			<title> {% block titulo %}
					Example Application
					{% endblock  titulo %}</title>
    </head>

    <body nombre = 'miapp'>

			<pre>{{dump(entradas, usuarios, tags, categorias)}}</pre>
			<ul>
					{% for entrada  in entradas %}
						<li>echo "si esto sale es la ostia"		{{ entrada.idUser.name|e|nl2br }}</li>
						<li> echo efectivamente , esto funciona. {{dump(entrada.EntryTags)}} </li>
						{% else %}
						<li><em>Entrada no encontrada</em></li>
						{% endfor %}
			</ul>
    </body>
    
</html>
