{# HTML TEMPLATE TWIG TEMPLATE BASIC by Passh#}
<!DOCTYPE HTML>

<html lang="es">
	<body>

			<head>
					<meta charset="utf-8" />
					<title>
							{% block titulo %} 
								HTML TWIG TEMPLATE
							{%endblock%}
					</title>
			</head>
	</body>
	<footer>by Passh</footer>
</html>