{# empty Twig template #}
<!DOCTYPE HTML>

<html lang="es">
		<head>
				<meta charset="utf-8" />
				<title>
						{% block titulo %} 
							Blog de mierda con symfony3 
						{%endblock%}
				</title>
		</head>
