{% extends "layout.html.twig" %}

{% block content  %}
	<div class="form-type col-md-6">
		<h2>AÑADIR TAGS</H2>
		{{form_start(formAddTag)}}
		{{form_end(formAddTag)}}
		<a href="{{ path("blog_index_tag") }}" class="btn btn-success form-type col-md-6">LISTAR TODAS</a>
	</div>
		
		<div class="clear-fix"></div>
		
		{% for m  in app.session.flashbag().get('status') %}
			<div class="alert alert-warning">{{m}}</div>
		{% endfor %}
		
		
{% endblock content %}