{# HTML TEMPLATE TWIG TEMPLATE BASIC by Passh#}
<!DOCTYPE HTML>

<html lang="es">
		<head>
				<meta charset="utf-8" />
				<title>
						{% block titulo %} 
							ESTAS USANDO LA PLANTILLA LAYOUT.HTML.TWIG
						{%endblock%}
				</title>
				
				{#   https://www.bootstrapcdn.com/  #}
				<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
					  rel="stylesheet" 
					  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
					 crossorigin="anonymous">
				
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
						crossorigin="anonymous">		
				</script>
		</head>
		
		<body>
				<header>
				</header>

				{% block content %}
				{%endblock%}
		</body>
		<footer>by Passh</footer>
</html>