{# HTML TEMPLATE TWIG TEMPLATE BASIC by Passh#}
<!DOCTYPE HTML>

<html lang="es">
	<body>

			<head>
					<meta charset="utf-8" />
					<title>
							{% block titulo %} 
								ESTAS USANDO LA PLANTILLA LAYOUT.HTML.TWIG
							{%endblock%}
					</title>
			</head>
			{% block content %}
			{%endblock%}
	</body>
	<footer>by Passh</footer>
</html>