{# empty Twig template #}
{% extends "layout.html.twig"  %}




{#content#}
{% block content %}
	
	{#{% if app.user != null %}#}
		{{dump(app.user, error, app)}}
{#	{% endif %}
#}

	<div class="col-md-4">
	  {% if is_granted('ROLE_ADMIN')    %}
			  <h2>ERES EL ADMIN :)</h2>
	  {% elseif is_granted('ROLE_USER') %}
			  <h3>No eres más que un User :(, pero logueado eso si :)</h3>				
	  {% else %}
		  <h2>IDENTIFICATE POR FAVOR</h2>
	  {% endif %}
	  
	
	  <BR>
	  
	  <form action="{{path("login_check")}}" method="post" >
		
		<!--name=_username  es la key para que funcione Symfony-->	
		<label>Tu Email: </label>
		<input type="email"  id="username"  name="_username"  value="{{ last_username }}"  class="form-control"/>
		<br>	
		
		<label>Contraseña: </label>
		<input type="password" id="password" name="_password" value="capullo100">
		<br>	
		
		<input type="submit" value="Entrar Al Blog" class="btn btn-success"/>
		<input type="hidden" name="_target_path" value="/login" />  
			
	  </form
	</div>
		  
	 <div class="clear-fix"> </div>
{% endblock content %}

{% block title %}
	El titulo guay
{% endblock title %}
