{# empty Twig template #}
{% extends "layout.html.twig" %}

{#content#}
{% block content %}

		{#enctype para los files.#}
		{{form_start(formCategoryAdd)}}
		{{form_end(formCategoryAdd)}}
		
		
		
<div class='clearfix'></div>
{% endblock content %}
