
{# empty Twig template #}
{% extends "layout.html.twig"  %}

{#content#}
{% block content %}
	
	<table class="container table" name="Tag">		  
			<h2>Etiquetas</h2><!--Titulo-->
			<hr/>
			<a href="{{ path("blog_tag_add") }}" class="btn btn-success">Añadir Etiqueta</a>
		
			
			<thead>
					<tr>
							<th>Nombre de la Tag</th><!--Duplicame-->
							<th>Descripción</th><!--Duplicame-->
							<th>Eliminar </th><!--Duplicame-->
					</tr>
			</thead>
			<tbody>
					{% for un_Tag  in Tag %}
						<tr>
								<td>  {{ un_Tag.name  }} </td><!--Duplicame-->
								<td>  {{ un_Tag.description  }} </td><!--Duplicame-->
								<td> <a href="{{ path("blog_delete_tag") }}" class="btn btn-danger">Eliminar</a></td><!--Duplicame-->
								
						</tr>
					{% else %}
					<td>No hay Tags!!!</td>
			{% endfor %}
	</tbody>
</table>>

					
{% endblock content %}

